img {
  width: 100%;
}

#product-credit {
  padding-left: 1rem;
  transform: translateY(-1.875rem);
  letter-spacing: .05rem;
}

#h1-home {
  font-family: var(--bs-font-primary);
  color: var(--clr-light);;
}

#h2-home {
  font-family: var(--bs-font-primary);
  color: var(--clr-light);
  padding: 1rem 0;
}

#h3-home {
  font-family: var(--bs-font-primary);
  color: var(--clr-light);
}

.new-products-container {
  display: flex;
  gap: 1rem;
  cursor:pointer;
}

.new-products-title {
  display: flex;
  margin:auto;
  width: 50%;
  gap: 1rem;
  
}
