/* mobile portrait 414w x 896h */
.navbar-bs {
  background-color: var(--clr-light);
  margin-bottom: 1rem;
  font-family: var(--bs-font-primary);
  font-weight: bold;
  font-size: x-large;
}

#btn-cart {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.fa-cart-shopping {
  color: var(--clr-dark);
}

.fa-cart-shopping:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

#cart-count-circle {
  background-color: #dc3545;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mobile landscape */
@media (min-width: 414px) and (max-width: 896px) and (orientation: landscape) {
  #cart-count-circle {
    transform: translate(-325%);
  }
}
/* tablet portrait */
@media (min-width: 897px) and (max-width: 1079px) and (orientation: portrait) {
  #cart-count-circle {
    transform: translate(-160%);
  }
}

/* tablet landscape */
@media (min-width: 1080px) and (orientation: landscape) {
  #cart-count-circle {
    transform: translate(-225%);
  }
}

/* desktop */
@media (min-width: 1440px) and (orientation: landscape) {
  #cart-count-circle {
    transform: translate(-225%);
  }
}
