#h3-shopping-cart {
  font-family: var(--bs-font-primary);
  color: var(--bs-heading-color-dark);
}

#cart-item  {
  font-family: var(--bs-font-secondary);
  letter-spacing: .075rem;
}

.total {
  font-family: var(--bs-font-primary);
  font-weight: bold;
  font-size: large;
  align-self: flex-end;
}
