.card {
  height: 100;
  margin-bottom: 20px;
}

.card-img {
  height: 300px;
  object-fit: cover;
}

.card-body {
  height: 234px;
  display: flex;
  flex-direction: column;
}

.card-name {
  font-family: var(--bs-font-primary);
  font-weight: bold;
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-text {
  font-family: var(--bs-font-secondary);
  font-weight: normal;
  font-size: medium;
  line-height: 1.6;
  margin: 1rem 0;
}

.btn-container {
  width: 100%;
  display: flex;
  margin-top: auto;
}

#btn-primary {
  background-color: var(--clr-accent-dark);
  width: 50%;
  text-align: center;
  border: none;
  margin: 0 auto;
}

#btn-primary:hover {
  background-color: var(--clr-accent-light);
  color: var(--clr-dark);
  border-style: solid;
  border-width: thin;
  border-color: var(--clr-accent-dark);
}

.cart-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.btn-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  gap: 0.75rem;
}

#btn-add-subtract {
  background-color: var(--clr-accent-dark);
  border: none;
}
