.page-container {
  display: flex;
}
.text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  line-height: 1.8;
  padding-right: 3.125rem;
}

#h1-studio {
  font-family: var(--bs-font-primary);
  color: var(--bs-heading-color-light);
}

#h4-studio {
  font-family: var(--bs-font-primary);
  color: var(--bs-heading-color-light);
}

.p-studio {
  color: var(--bs-heading-color-light);
  letter-spacing: .075rem;
}

.img-container {
  width: 50%;
}
