.text-container {
  
  width: 100%;
  line-height: 1.8;
  padding-right: 3.125rem;
}

#h1-studio {
  font-family: var(--bs-font-primary);
  color: var(--bs-heading-color-light);
}

#h4-studio {
  font-family: var(--bs-font-primary);
  color: var(--bs-heading-color-light);
}

.p-studio {
  color: var(--bs-heading-color-light);
  letter-spacing: 0.075rem;
}

.img-container {
  width: 100%;
}

/* desktop */
@media (min-width: 1440px) and (orientation: landscape) {
  .page-container {
    display: flex;
  }

  .text-container {
    width: 50%;
  }

  .img-container {
    width: 50%;
  }
}
